/*HOME*/

.warpper {
    background-color: beige;
    height: 1000px;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

nav {
    background-color: darkgray;
    height: auto;
}

ul {
    text-decoration: none;
    display: inline-block;
    list-style: none;
}

.link {
    text-decoration: none;
}


/*
a:visited {}
a:active {}
*/

a:hover {
    color: brown;
}

a {
    text-decoration: none;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darksalmon;
    height: 500px;
}

.form {
    height: 100px;
    width: 150px;
    margin-top: 100px;
}

span {
    display: block;
    float: left;
}

.label {
    display: block;
    float: left;
}

.input_login {
    display: block;
    float: left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    outline: none;
    height: 30px;
}

.input_password {
    display: block;
    float: left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    outline: none;
    height: 30px;
}

.submit {
    display: block;
    float: right;
}