<!--Container Body-->
<div class="container">
    <div class="warpper">
        <div class="title">{{title}}</div>
        <div>
            <nav class="nav">
                <ul *ngFor="let item of items">
                    <li class="link"><a href="#" (click)="onClickedContact(login)">{{item}}</a></li>
                </ul>
            </nav>
        </div>
        <!--Warpper Login-->
        <div class="login">
            <!--Bloc Left-->
            <div class="bloc_left">
                <img class="logo" src="{{link}}logo_jmh_link.png" alt="">
                <h1>SE CONNECTER</h1>
                <div class="form " (submit)="onSubmit()">
                    <label for=" " class="label">ADRESSE EMAIL</label>
                    <input type="text " class="input_login" [(ngModel)]="login" ng-model="control" ng-change="control()">
                    <label for=" " class="label">MOT DE PASSE</label>
                    <input type="text " class="input_password" [(ngModel)]="password">
                    <input type="submit" class="submit" value="SE CONNECTER">
                    <!-- DEBUG TEST INPUT-->
                    <span>{{login}}</span>
                    <span>{{password}}</span>
                </div>
            </div>
            <!--Bloc Right-->
            <div class="bloc_right">
                <h1>INFO</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio quos quidem veritatis beatae? Dicta, dignissimos necessitatibus nesciunt, a delectus soluta debitis non enim esse dolore facere ex. Reiciendis, porro velit.</p>
                <div class="slide">
                    <div class="circle_1"> </div>
                    <div class="circle_2"> </div>
                    <div class="circle_3"> </div>
                    <div class="circle_4"></div>
                </div>
            </div>
        </div>
    </div>
</div>