<div class="container">
    <div class="warpper">
        <div class="title">{{title}}</div>
        <div>
            <nav class="nav">
                <ul *ngFor="let item of items">
                    <li class="link"><a href="#" (click)="onClickedContact(login)">{{item}}</a></li>
                </ul>
            </nav>
            <img class="logo" src="{{link}}logo.png" alt="">
        </div>
        <div class="login">
            <div class="bloc_left">
                <h1>SE CONNECTER</h1>
                <div class="form " (submit)="onSubmit()">
                    <label for=" " class="label">ADRESSE EMAIL</label>
                    <input type="text " class="input_login" [(ngModel)]="login" ng-model="control" ng-change="control()">
                    <label for=" " class="label">MOT DE PASSE</label>
                    <input type="text " class="input_password" [(ngModel)]="password">
                    <input type="submit" class="submit" value="SE CONNECTER">
                    <span>{{login}}</span>
                    <span>{{password}}</span>
                </div>
            </div>
            <div class="bloc_right">
                <h1>INFO</h1>
            </div>
        </div>
    </div>
</div>