<div class="container">
    <div class="warpper">
        <div class="title">{{title}}</div>
        <div>
            <nav class="nav">
                <ul *ngFor="let item of items">
                    <li class="link"><a href="#" (click)="onClickedContact(login)">{{item}}</a></li>
                </ul>
            </nav>
        </div>
        <div class="login">
            <div class="form " (submit)="onSubmit()">
                <label for=" " class="label">Email</label>
                <input type="text " class="input_login" [(ngModel)]="login" ng-model="control" ng-change="control()">
                <label for=" ">Password</label>
                <input type="text " class="input_password" [(ngModel)]="password">
                <input type="submit" class="submit">
                <span>{{login}}</span>
                <span>{{password}}</span>
            </div>
        </div>
    </div>
</div>