/*HOME*/

.warpper {
    /*background-color: beige;*/
    height: 1000px;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

nav {
    background-color: darkgray;
    height: auto;
}

ul {
    text-decoration: none;
    display: inline-block;
    list-style: none;
}

.link {
    text-decoration: none;
}


/*


*/

a:active {
    color: seashell;
}

a:hover {
    color: red;
}

a:visited {
    color: seashell;
}

a {
    text-decoration: none;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: darksalmon;*/
    height: 500px;
}

.form {
    height: 100px;
    width: 150px;
    margin-top: 100px;
}

span {
    display: block;
    float: left;
}

.label {
    display: block;
    float: left;
    width: 100px;
}

.input_login {
    display: block;
    float: left;
    outline: none;
    height: 30px;
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    margin-bottom: 10px;
}

.input_password {
    display: block;
    float: left;
    outline: none;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    background: none;
    margin-bottom: 10px;
}

.submit {
    display: block;
    margin: 0 auto;
    background: seagreen;
    border: none;
    width: 100px;
    height: 30px;
    color: seashell;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-transform: uppercase;
}