/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Lato-Light";
    background-image: url("assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
}