/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Lato-Light";
    src: url("assets/fonts/Lato-Light.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Lato-Light";
    background-image: url("assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
    height: 100%;
}